.center {
    color: red;
}

.layoutMain {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.center {
    float: left;
    width: 72%;
    padding: 10px;
    background-color: #b3d874;
    order: 2;
    height:400px;
}

.left-side{
  width: 22%;
  margin: 0 auto;
  padding: 10px;
  order: 1;
  background-color: #ff838b;
}

.right-side{
    width: 22%;
    margin: 0 auto;
    padding: 10px;
    order: 3;
    background-color: #ff838b;
  }
