<!doctype html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>quiz</title>
        <link rel="stylesheet" th:href="{css/quizLayout.css}">
    </head>

    <body>
        <header>
        </header>

        <div class="layoutMain">
            <main class="center">
                <div class="quizTitle">クイズタイトル</div>

                <div class="quizStartButton">
                    <a href="">はじめる</a>
                </div>
            </main>

            <div class="left-side">
                this is right side!
            </div>
            
            <aside class="right-side">
                this is right side!
            </aside>
        </div>
    </body>

</html>